@import "variables";

body {
  @include sans-serif-font();
  background-color: $light-background;
  font-weight: 300;

  > header {
    background: $dark-background url("/images/logo.png") no-repeat center;
    background-size: $header-size*0.75;
    height: $header-size;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    nav {
      align-self: flex-end;
      margin: (0.25 / 2) * $header-size;

      li {
        display: inline-block;

        a {
          color: #ffffff;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: normal;

          margin: $standard-margin;

          &.active {
            color: $blue;
            text-decoration: underline;
          }
        }
      }
    }
  }
  #app {
    text-align: center;
  }
  .grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: $standard-margin;
  }
}


